/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require devise_bootstrap_views
*/

html {
  position: relative;
  min-height: 100%;
}

#hero {
   padding: 200px 0;
   background-image: image-url('hero-bg.jpg');
   background-size: cover;
   width: 100%;
   background-position: center;
   font-family: 'BYekan', sans-serif;
   h1 {
     font-size: 4.3em;
     color: #fff;
   }
   h2 {
     font-size: 3.5em;
     color: pink;
   }
 }